<!-- <div class="container bg-dark text-white">
    <h1>Login</h1>
    <form (ngSubmit)="onSubmit()" #UserForm="ngForm">
        <div class="form-group">
            <label for="userName">UserName</label>
            <input type="text" class="form-control" id="userName" required [(ngModel)]="model.userName" name="userName">
            {{model.userName}}
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" required [(ngModel)]="model.password" name="password">
            {{model.password}}
        </div>
        <button type="submit" class="btn btn-success" (click)="newUser(); UserForm.reset()">Sign In</button>

    </form>
</div> 

 <h1><b>404 Page Not Found</b></h1>-->
 
 <div id="main">
    <div class="fof">
            <h1>Error 404 Page Not Found</h1>
    </div>
</div>